.comment-thread-container {
  min-width: 240px;
}

.comment-thread-counter {
  margin-bottom: 8px;
}

.comment-button {
  margin-right: 4px;
  margin-bottom: 8px;
}

.comment-creator {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 8px 0;
}

.comment-content {
  margin: 8px 0;
}
