/* Add your CSS here */
[class*="name-label"] {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.name-label-fadeout {
  display: none;
}
