.BaselineUI-ImageGallery [role="option"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--bui-spacing-2-xl);
  width: 184px;
}

.BaselineUI-ImageGallery.BaselineUI-ListBox {
  row-gap: var(--bui-spacing-2-xl);
  column-gap: var(--bui-spacing-lg);
  place-items: center;
}

.PSPDFKit-Sidebar [role="toolbar"] button {
  padding-inline: var(--bui-spacing-2-xl);
}

.PSPDFKit-Sidebar [role="toolbar"] > div {
  align-items: center;
}

.PSPDFKit-Sidebar .BaselineUI-Menu-Trigger {
  margin-left: auto;
  height: 48px;
  max-height: unset;
}
