.BaselineUI-ImageGallery [role="option"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--bui-spacing-2-xl);
  width: 184px;
}

.BaselineUI-ImageGallery.BaselineUI-ListBox {
  row-gap: var(--bui-spacing-2-xl);
  column-gap: var(--bui-spacing-lg);
  place-items: center;
}

[role="toolbar"] > div {
  gap: var(--bui-spacing-xl);
}
