.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background-image:
    linear-gradient(0deg, black 1px, transparent 1px),
    linear-gradient(90deg, black 1px, transparent 1px);
  background-size: 50px 50px;
}
