@import "https://unpkg.com/@baseline-ui/tokens@0.47.0/dist/index.css";
@import "https://unpkg.com/@baseline-ui/core@0.47.0/dist/index.css";

@layer bui-reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
